/* .date-title */

.date-title {
    font-size: 25px;
    font-weight: 800;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    margin: 20px 30px;
}

.date-title a:hover {
    text-decoration: none;
}

#detail-date {
    margin: 0 20px;
}

.month-txt {
    font-size: 15px;
    color: gray;
}


/* select-edit-bar */

.select-edit-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.before-select-edit-bar-left {
    display: none;
}

.after-select-edit-bar-left {
    display: none;
    position: absolute;
    left: 20%;
    bottom: 3px;
}

.active {
    display: block;
}


/* delete-btn */

.delete-kakeibo {
    width: 150px;
}


/* kakeibo-id */

.kakeibo-id {
    display: none;
}


/* kakeibo-table */

.kakeibo-table {
    width: 50%;
    margin: 0 10px;
}

.table-row {
    margin: 20px 0;
    border: solid 2px whitesmoke;
    background-color: #fff;
}

.kakeibo-table td {
    text-align: center;
}

.table-left {
    display: flex;
    align-items: center;
}

.table-left-text {
    text-align: left;
    margin-left: 20px;
}

.date-text {
    font-size: 13px;
    color: gray;
}

.title-text {
    font-size: 17px;
}

.table-icon {
    width: 20px;
    height: 20px;
}

.table-icon i {
    font-size: 20px;
}

.border {
    margin-top: 10px;
    width: 100%;
    border-bottom: 2px solid gray;
}

.money-table {
    display: flex;
    justify-content: space-between;
}

.kakeibo-table table {
    width: 100%;
}

@media screen and (max-width:960px) {
    .kakeibo-table {
        margin: 0 20px;
    }
}

@media screen and (max-width:600px) {
    .money-table {
        flex-direction: column;
    }
    .kakeibo-table {
        width: 90%;
        margin: 50px 30px;
    }
}

@media screen and (max-width:470px) {
    #detail-date {
        font-size: 18px;
        margin: 8px;
    }
}