.date-title {
    font-size: 25px;
    font-weight: 800;
    border-bottom: 2px solid whitesmoke;
    text-align: center;
}

.date-title a:hover {
    text-decoration: none;
}

.month-txt {
    font-size: 15px;
    color: gray;
}

.kakeibo-table {
    width: 50%;
}

.table-row {
    margin: 20px 0;
}

.kakeibo-table td {
    text-align: center;
}

.table-left {
    display: flex;
}

.table-left-text {
    text-align: left;
    margin-left: 20px;
}

.date-text {
    font-size: 13px;
    color: gray;
}

.title-text {
    font-size: 17px;
}

.table-icon {
    width: 40px;
    height: 40px;
}

.border {
    margin-top: 10px;
    width: 100%;
    border-bottom: 2px solid gray;
}

.money-table {
    display: flex;
    justify-content: space-between;
}

.kakeibo-table table {
    width: 100%;
}