.home {
    position: relative;
}

.date-arrow {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#left-month,
#right-month {
    font-size: 18px;
}

.graph {
    width: 85%;
    margin: 0 auto;
}

.graph canvas {
    width: 100%;
}

.create-box {
    position: absolute;
    top: 30%;
    right: 10%;
    display: flex;
    flex-direction: column;
}

.create-box span {
    margin: 30px 0;
    cursor: pointer;
}

.btn-circle-flat {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}

.btn-circle-flat:hover {
    background: #668ad8;
    text-decoration: none;
    color: whitesmoke;
}


/* ドロワーメニュー */

#spend-drawer,
#incom-drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 600px;
    background: rgba(255, 255, 255, 0.89);
    transform: translateX(700px);
    transition: all 0.5s;
    z-index: 10;
}

#spend-drawer.open,
#incom-drawer.open {
    transform: translateX(0);
}


/* オーバーレイ */

#overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
}

#overlay.open {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.drawer-title {
    height: 66px;
    padding: 10px;
    background-color: rgb(177, 0, 0);
    color: white;
    text-align: center;
}

.drawer-title.incom {
    background-color: rgb(0, 99, 0);
}

form {
    height: 100%;
}

.drawer-menu {
    margin-top: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.drawer-menu p {
    font-size: 20px;
}

.back-btn {
    position: absolute;
    color: gray;
    right: 5%;
    cursor: pointer;
}

.back-btn:hover {
    color: rgb(100, 100, 100);
}

.spend-color {
    background: rgb(255, 35, 35);
}

.spend-color:hover {
    background: rgb(196, 27, 27);
    color: whitesmoke;
}

.incom-box {
    position: absolute;
    top: 70%;
    left: 5%;
    background-color: #fff;
    padding: 7px 10px;
    padding-right: 50px;
    font-size: 20px;
}

.access-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.detail-wrapper {
    width: 60%;
    margin-right: 20px;
}


/* ドロワーメニュー */

.spend-type-box,
.incom-type-box {
    width: 67%;
    display: flex;
    flex-wrap: wrap;
}

.spend-type-box p {
    margin: 0;
}

.submit-btn {
    width: 60%;
}


/* チェックボックス */

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.incom_radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    border-radius: 3px;
    transition: all .2s;
    text-align: center;
    width: 80px;
    height: 75px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.radio-inline__input:checked+.radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .7);
}

.radio-inline__input:focus+.radio-inline__label {
    outline-color: #B54A4A;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.incom_radio-inline__input:checked+.radio-inline__label {
    background: #4ab54a;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .7);
}

.incom_radio-inline__input:focus+.radio-inline__label {
    outline-color: #4ab54a;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.date-box {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.date-box div {
    cursor: pointer;
}

.date-box div p {
    font-size: 15px;
}


/* 画面のぼかし */

.kakeibo-img {
    width: 100%;
    height: 590px;
    background-image: url(../img/kakeibo-img.png);
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.kakeibo-img:before {
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

.not-exist-msg {
    width: 70%;
    height: 250px;
    background-color: white;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.not-exist-msg p {
    text-align: center;
    font-size: 20px;
}

.not-exist-btn {
    width: 60%;
    height: 50px;
}