@charset "UTF-8";
.home {
    height: 100vh;
    background-image: url('../img/home-page.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

.home-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(128, 0, 128, 0.75), rgba(255, 99, 71, 0.75));
}

.message {
    position: absolute;
    top: 20%;
    left: 4%;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.message h1 {
    font-size: 60px;
}

.sp-br {
    display: none;
}

.form-box {
    position: absolute;
    top: 27%;
    left: 60%;
}

#form {
    width: 420px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
}

form p {
    font-size: 14px;
}

.form-title {
    text-align: center;
}

.mail,
.pass {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 350px;
    padding: 4px;
    font-size: 14px;
}

.submit {
    text-align: right;
}

.login-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.login-btn {
    width: 90%;
}

.new {
    display: flex;
    justify-content: space-around;
}

.register-box {
    margin-top: 100px;
}

.register-btn {
    margin: 0 auto;
}

.register-btn button {
    width: 100%;
}

.form-group {
    margin-bottom: 50px;
}

.kakeibo {
    background-color: green;
    color: white;
    font-size: 20px;
}

button.kakeibo:hover {
    background-color: rgb(0, 160, 0);
    color: rgba(255, 255, 255);
}

.tablet-btns {
    display: none;
}

@media screen and (max-width:1024px) {
    .message {
        top: 15%;
        left: 10%;
    }
    .message h1 {
        display: none;
    }
    .message h2 {
        font-size: 50px;
        font-weight: 600;
    }
    .form-box {
        top: 30%;
        left: 10%;
        width: 80%;
    }
    #form {
        width: 100%;
        height: 400px;
    }
    .input-field {
        display: flex;
        margin-top: 70px;
    }
    .email-field,
    .pass-field {
        margin: 10px;
        width: 100%;
    }
    .pass-field p,
    .email-field p {
        margin-bottom: 7px;
    }
    .pass,
    .check {
        margin-bottom: 5px;
        text-align: left;
    }
    .login-box {
        display: none;
    }
    .tablet-btns {
        display: flex;
    }
    .tablet-registerbtn,
    .tablet-loginbtn {
        width: 50%;
        margin: 10px;
    }
    .tablet-loginbtn button,
    .tablet-registerbtn button {
        height: 55px;
        margin-bottom: 10px;
    }
    .alert {
        position: absolute;
        width: 90%;
    }
}

@media screen and (max-width:960px) {
    #form {
        width: 80%;
        height: 480px;
    }
    .input-field {
        display: block;
    }
    .tablet-btns {
        flex-direction: column-reverse;
    }
    .tablet-registerbtn,
    .tablet-loginbtn {
        width: 80%;
        margin: 10px auto;
    }
    .sp-br {
        display: block;
    }
    .alert {
        width: 80%;
        top: 7%;
        left: 10%;
    }
}

@media screen and (max-width: 599px) {
    .message {
        top: 5%;
        left: 4%;
    }
    .message h2 {
        font-size: 30px;
        font-weight: 600;
    }
    .form-box {
        top: 15%;
        left: 5%;
        width: 90%;
    }
    #form {
        height: 620px;
        margin: 10px;
        margin-top: 20px;
        width: 95%;
    }
    .input-field {
        margin-top: 100px;
    }
    .alert {
        width: 85%;
        top: 5%;
    }
    #email,
    #password {
        width: 90%;
    }
    .forget-pass,
    .guest-msg {
        font-size: 12px;
    }
    .home {
        height: 812px;
    }
}